:root {
  --branding-color: whitesmoke;
  --heading-font-family: "Playfair Display", sans-serif;
  --general-font-family: monospace;
  --primary-background-color: #191d22;
  --secondary-background-color: #2d4059;
}

.navbar-bg-index {
  background-color: var(--primary-background-color);
}

.navbar-bg {
  background-color: var(--secondary-background-color);
}

.inactive {
  opacity: 75%;
}

.nav-item {
  padding: 0 10px;
}

body {
  background-color: #191d22;
  font-family: var(--general-font-family);
}

.hero {
  background-color: var(--secondary-background-color);
  line-height: 2;
  padding-bottom: 10px;
  text-align: center;
}

.hero h1,
h2 {
  color: var(--branding-color);
}

.hero h1 {
  font-family: var(--general-font-family);
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 15px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  opacity: 75%;
}

.hero .btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: black;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
}

hr {
  border-top: 3px solid var(--branding-color);
  color: var(--branding-color);
  margin: 0;
}

.basic-info-title {
  color: var(--branding-color);
  font-size: 20px;
  font-weight: bolder;
  opacity: 75%;
}

.basic-info {
  line-height: 2;
  text-align: center;
}

p {
  color: var(--branding-color);
  font-size: 16px;
}

.elena-first-pic {
  border: 3px solid #505357;
}

.fa-linkedin,
.fa-github,
.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-instagram {
  color: white;
  font-size: x-large;
}

.theater-link {
  color: var(--branding-color);
  text-decoration: none;
}

.social-links {
  text-align: center;
}

.main {
  background-color: var(--secondary-background-color);
}

.main h2 {
  font-size: 30px;
  font-weight: bolder;
}
.main p {
  line-height: 2;
  text-align: justify;
}
.main a {
  color: var(--branding-color);
  text-decoration: none;
}

.weather-app {
  color: #3486ba;
  font-size: 30px;
  font-weight: bolder;
}

.weather-app-image {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

.main .weather-button {
  background-color: #3486ba;
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
  color: white;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
}

.main .world-clock-button {
  background-color: #07104e;
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
  color: var(--branding-color);
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
}

.world-clock-app {
  color: #07104e;
  font-size: 30px;
  font-weight: bolder;
}

.world-clock-app-image {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

.ai-generator-app {
  color: #5e87b8;
  font-size: 30px;
  font-weight: bolder;
}

.main .ai-generator-button {
  background-color: #5e87b8;
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
  color: var(--branding-color);
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
}

.ai-generator-app-image {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

footer {
  color: var(--branding-color);
  font-size: 12px;
  margin: 20px 0;
  text-align: center;
}

footer a {
  color: var(--branding-color);
  font-weight: 700;
  text-decoration: none;
}

.about-header {
  background-color: var(--secondary-background-color);
}

h1 {
  color: var(--branding-color);
}

.about-pic {
  border: 3px solid #505357;
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.about-header .btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: black;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
}

.about-titles {
  color: var(--branding-color);
  font-weight: bolder;
  text-align: center;
}

.about-paragraphs {
  line-height: 2;
  text-align: justify;
}

.sardinia-pic {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

.grenoble-pic {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

.bruxelles-pic {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

.barcelona-pic {
  border: 3px solid var(--branding-color);
  box-shadow: 10px 10px 20px rgba(13, 12, 12, 0.2);
}

.about-footer {
  background-color: var(--secondary-background-color);
}

.work-main {
  background-color: var(--secondary-background-color);
}

.project-title {
  color: var(--branding-color);
  opacity: 75%;
}

.custom-work-images-first-row {
  height: 275px;
  width: 500px;
}

.custom-work-images-second-row {
  height: 600px;
  align-items: center;
  width: 700px;
}

.work-buttons {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: black;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
}

.work-buttons:hover {
  background-color: var(--branding-color);
  opacity: 75%;
}

.work-paragraphs {
  font-size: small;
  opacity: 75%;
}

.dotted {
  border-top: 3px dashed var(--branding-color);
  color: var(--branding-color);
  margin: 0;
}

.contact-paragraph {
  opacity: 75%;
}

.contact-email {
  color: var(--branding-color);
  font-size: 30px;
  text-decoration: none;
}

.social-container {
  background-color: var(--secondary-background-color);
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 65px;
  }

  .hero h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .main h2 {
    font-size: 24px;
  }

  .weather-app,
  .world-clock-app,
  .ai-generator-app {
    font-size: 22px;
  }

  footer {
    font-size: 10px;
  }

  .about-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-header img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .custom-work-images-first-row {
    padding-top: 35px;
    width: 400px;
  }

  .custom-work-images-second-row {
    height: 400px;
    align-items: center;
    padding-top: 35px;
    width: 400px;
  }

  .contact-paragraph {
    font-size: 13px;
  }

  .contact-email {
    font-size: 18px;
  }
}
